<form method="POST" action="<%- action %>" id="formset-form">{% csrf_token %}

    <table border=1>

        <tr>
            <% _.forEach(fields, function(field_name) { %>
                <td><%- field_name %></td>
            <% }); %>
        </tr>

        <% _.forEach(data, function(raw, count) { %>

            <% if (count == data.length - 1) { %>
                <tr>
                    <td>Новый <%- verbose_name %></td>
                </tr>
            <% } %>

            <tr>
                <% _.forEach(raw, function(field) { %>
                    <td>
                        <input <% _.forIn(field["attrs"], function(val, attr) { %> <%- attr %>="<%- val %>" <% }); %> />
                        <% if (field["errors"]) { %>
                            <div class="form-errors">
                                <% _.forEach(field["errors"], function(error) { %>
                                    <p><%- error %></p>
                                <% }); %>
                            </div>
                        <% } %>
                    </td>
                <% }); %>
            </tr>

        <% }); %>

    </table>

    <% _.forEach(hidden, function(field) { %>
        <input <% _.forIn(field, function(val, attr) { %> <%- attr %>="<%- val %>" <% }); %> />
    <% }); %>

    <input class="save-button" type="submit" value="Отправить" />

</form>
