{% extends "base.html" %}

{% load url from future %}


{% block javascript %}
    <script src="{{ MEDIA_URL }}js/loader.js" type="text/javascript"></script>
    <script src="{{ MEDIA_URL }}js/lodash-2.4.1.min.js" type="text/javascript"></script>
    <script src="{{ MEDIA_URL }}js/datepicker.js" type="text/javascript"></script>
    <script id="formset-templ" type="text/template">{% include "formset_js_templ.html" %}</script>
    <script src="{{ MEDIA_URL }}js/edit.js" type="text/javascript"></script>
{% endblock %}

{% block content %}

	<ul>
        {% for model_name, name in models %}
        	<li><a class="formset-ref" href="{% url "edit" modelname=model_name %}">{{ name }}</a></li>
        {% endfor %}
	</ul>

    <div id="formset-container"></div>

{% endblock %}
